.clearfix:after{
	display: block;
	content: "";
	clear: both;
	height: 0;
	visibility: hidden;
}
.clearfix{
	*zoom: 1;
}
a{
	text-decoration: none;
	color: #a3a4a5;
}
.caption{
	width: 1222px;
	margin-left: 25px;
}
.header{
	background: #fff;
	width: 100%;
	position: relative;
	z-index: 999;
}
.main{
	width: 100%;
	padding-bottom: 27px;
	background-color: #ededed;
}
.footer{
	padding-bottom: 60px;
	background: #fff;
}