@import url(comman.css);
.top{
	height: 45px;
	background: #3a3b3e;
	position: relative;
}
.top .logo{
	width: 45px;
	height: 45px;
	float: left;
	margin-left: 30px;
	opacity: 0.5;
}
.top .logo img{
	width: 45px;
	height: 45px;
}
.top .top-nav{
	height: 45px;
	float: left;
	margin-left: 190px;
}
.top .top-nav .top-nav-item{
	height: 45px;
	line-height: 45px;
	text-align: center;
	float: left;
	font-size: 12px;
	margin-left: 39px;
}
.top .top-nav .top-nav-item a{
	opacity: 0.5;
	text-decoration: none;
}
.top .top-nav .top-nav-item a:hover{
	opacity: 1;
}
.top .user{
	height: 45px;
	margin-right: 20px;
	float: right;
}
.top .user .fa-shopping-bag:hover ~ .user-box{
	display: block;
}
.top .user-box{
	position: absolute;
	top:45px;
	right: 20px;
	width: 360px;
	height: 206px;
	background: #fff;
	border: 1px solid #000;
	border-radius: 5px;
	padding-top: 90px;
	text-align: center;
	display: none;
	z-index: 1888;
}
.top .user .user-box i{
	display: block;
	font-size: 80px;
	color: #e6e6e6;
}
.top .user-box .user-box-disc{
	color: #333;
	font-size: 18px;
	margin-top: 30px;
}
.top .user-box .user-box-bt{
	color: #e6e6e6;
	font-size: 12px;
	margin-top: 10px;
}
.top .user .fa{
	display: inline-block;
	height: 45px;
	line-height: 45px;
	font-size: 16px;
	color: #a5a6a6;
	float: left;
	margin-left: 25px;
}
.header .header-nav{
	height: 74px;
	line-height: 74px;
	float: left;
}
.header .header-nav .header-nav-item{
	float: left;
	font-size: 15px;
	margin-left: 31px;
}
.header .header-nav .header-nav-item ul,
.header .header-nav .header-nav-item .ula{
	width: 100%;
	margin-left: -31px;
	position: absolute;
	top: 74px;
	width: 100%;
	height: 275px;
	background: #fff;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
	display: none;

}
.header .header-nav-item>ul li{
	float: left;
	margin-left: 32px;
	text-align: center;
	cursor: pointer;
}

.header .header-nav-item .phone-nav-item img{
	width: 70px;
	height: 85px;
	margin-bottom: -28px;
}
.header .header-nav-item .phone-nav-item .phone-nav-name{
	font-size: 13px;
	margin-bottom: -13px;
	color: #333;
}
.header .header-nav-item .phone-nav-item .phone-nav-price{
	font-size: 12px;
	color: #d84c49;
}
.header .header-nav-item .phone-nav-item .phone-nav-price span{
	color: #808080;
}
.header .header-nav-item dl{
	float: left;
	cursor: pointer;
	margin-left: 20px;
}
.header .header-nav-item dd{
	font-size: 12px;
	color: #818181;
	margin-bottom: -25px;
	margin-top: 10px;
}
.header .header-nav-item dt{
	margin-bottom: -35px;
}
.header .header-nav-item dl dt img{
	width: 36px;
	height: 33px;
	margin-left: 16px;
	vertical-align: middle;
}
.header .header-nav-item>li dt span{
	font-size: 14px;
	color: #333;
}
.header .header-nav .header-nav-item .ula{
	margin-left: -273px;
}
.header .header-nav-item:hover .ula{
	display: block;
}

.header .header-nav .header-nav-item .phone3-nav.ula{
	padding-left: 170px;
	margin-left: -365px;
}
.header .header-nav .header-nav-item .phone4-nav.ula{
	margin-left: -473px;
	padding-left: 473px;
}
.header .header-nav .header-nav-item .phone5-nav.ula{
	margin-left: -547px;
}
.header .header-nav .header-nav-item .phone-nav{
	padding-left: 620px;
}
.header .header-nav-item .phone2-nav{
	padding-left: 390px;
}

.header .header-nav .header-nav-item:first-child a,
.header .header-nav .header-nav-item:nth-child(3) a{
	color: #333;
	font-weight: bolder;
}
.header .header-nav .header-nav-item a{
	color: #515151;
}
.header .header-nav .header-nav-item a:hover{
	color: #1191d3;
}
.header .header-search{
	position: relative;
	width: 325px;
	float: right;
	margin-right: 30px;
}
.header .header-search .search-logo{
	float: right;
	margin-top: 18px;
	width: 40px;
	height: 36px;
	font-size: 30px;
	color: #ebebeb;
	line-height: 36px;
	text-align: center;
	border:1px solid #ebebeb;
	border-right: none;
	border-bottom-left-radius: 18px;
	border-top-left-radius: 18px;
	cursor: pointer;
}
.header .header-search .search-text{
	float: right;
	margin-top: 18px;
	width: 280px;
	height: 36px;
	border:1px solid #ebebeb;
	border-left: none;
	outline: none;
	border-bottom-right-radius: 18px;
	border-top-right-radius: 18px;

}
.header .header-search .search-hot{
	position: absolute;
	top: 27px;
	right: 30px;
	width: 122px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: #e4effe;
	border:1px solid #e4effe;
	border-radius: 10px;
}
.header .header-search .search-hot a{
	font-size: 11px;
	color: #3668c5;
}

.header .header-search .search-btn{
	position: absolute;
	bottom: -400px;
	right: 0px;
	width: 318px;
	height: 390px;
	background: #fff;
	border: 1px solid #e4effe;
	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
	display: none;
	z-index: 999; 
}
.header .header-search .search-btn .search-btn-item{
	height: 35px;
	line-height: 35px;
}
.header .header-search .search-btn .search-btn-item a{
	font-size: 15px;
}
.header .header-search .search-btn .search-btn-item a:hover{
	color: #3668c5;
}
.header .header-search .search-text:focus~.search-btn{
	display: block;
}
.header .header-item .phone4-nav{
	padding-left: 430px;
}
.header .header-item  .phone-nav-item{
	float: left;
	width: 140px;
	height: 180px;
	text-align: center;
	padding-top: 39px;
}

.main .main-top .main-top-item{
	float: left;
	margin-left: 40px;
	height: 62px;
	line-height: 62px;

}
.main .main-top .main-top-item a{
	font-size: 12px;
	color: #a8a8a8;
}
.main .main-top .main-top-item:first-child a{
	color: #6490e4;
}
.main .main-home{
	background: #fff;
}
.main .main-home .main-home-item{
	height: 362px;
	width: 20%;
	background: #fff;
	box-sizing: border-box;
	float: left;
	text-align: center;
	padding: 0 20px;
	border:1px solid rgba(0,0,0,0.2);
	border-left: none;
	position: relative;
	transition: all 0.5s;

}
.main .main-home .main-home-item:hover{
	box-shadow: -2px -5px 20px rgba(0,0,0,0.2) inset;
}
.main .main-home .main-home-item.main-home-item-b{
	border-top: none;
}
.main .main-home .main-home-item:nth-child(1){
	border-left: 1px solid rgba(0,0,0,0.2);
}
.main .main-home .main-home-item.left{
	border-top-left-radius: 5px;
}
.main .main-home .main-home-item.right{
	border-top-right-radius: 5px;
}
.main .main-home .main-home-item img{
	width: 156px;
	height: 156px;
	margin-top: 35px;

}
.main .main-home .main-home-item .phone-disc{
	font-size: 15px;
	height: 20px;
	line-height:20px; 
	color: #595959;
	margin-top: 50px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.main .main-home .main-home-item span{
	margin-top: 12px;
	font-size: 11px;
	color: #a6a6a6;
}
.main .main-home .main-home-item .phone-pri{
	font-size: 14px;
	color: #d9524f;
	margin-top: 20px;
}
.main .main-home .main-home-item .float{
	display: block;
	width: 46px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #a26d40;
	color: #a26d40;
	background: #fffbe2;
	border-radius: 10px;
	position: absolute;
	top: 10px;
	right: 10px;
}
.main .service{
	margin-top: 12px;
	width: 100%;
	height: 155px;
	background: #fff;
}
.main .service .service-item{
	margin-top: 12px;
	float: left;
	text-align: center;
	width: 25%;
	height: 155px;
	padding-top: 30px;
}
.main .service .service-item span{
	font-size: 33px;
	color: #8c8c8c;

}
.main .service .service-item p{
	margin-top: 10px;
	font-size: 15px;
}
.main .service .service-item p.time{
	color: #c0c0c0;
}
.footer .footer-nav {
	width: 800px;
	float: left;
	padding-top: 58px;
	padding-left: 25px;
	overflow: hidden;
}
.footer .footer-nav dl{
	float: left;
	margin-left: 90px;

}
.footer .footer-nav dl:first-child{
	margin-left: 0px;
}
.footer .footer-nav .footer-nav-item1{
	font-size: 12px;
	color: #6a6a6a;
	margin-bottom: 27px;
}
.footer .footer-nav .footer-nav-item{
	font-size: 11px;
	margin-bottom: 15px;
	color: #a6a6a6;
}
.footer .footer-nav .footer-nav-item a:hover{
	color: skyblue;
}
.footer .footer-service{
	width: 170px;
	float: right;
	text-align: center;
	padding-right: 30px;
	padding-top: 62px;
	overflow: hidden;
}
.footer .footer-service .phone-num{
	font-size: 20px;
	font-weight: bolder;
	color: #4e7bd2;
	margin-bottom: 15px;
}
.footer .footer-service .service-disc,
.footer .footer-service .service-time{
	color: #cacaca;
	font-size:10px;

}
.footer .footer-service .service-disc{
	margin-top: 8px;
	text-align: right;
	padding-right: 20px;
}
.footer .footer-service .service-tro{
	margin-top: 15px;
	display: block;
	width: 132px;
	height: 30px;
	color: #4e7bd2;
	font-size: 12px;
	line-height: 30px;
	border:1px solid #d0d0d0;
	border-radius: 5px;
	background: #fff;
	margin-left: 20px;
	text-align: center;
	cursor: pointer;
	transition: background 0.5s;
}
.footer .footer-service .service-tro:hover{
	background: #cacaca;
}
.footer .footer-service .service-tro i{
	font-size: 15px;
	vertical-align: middle;

}
.bottom .caption{
	padding-top: 30px;
	height: 130px;
	border-top: 1px solid #e6e6e6;
}
.bottom .bottom-nav-item{
	height: 13px;
	line-height: 13px;
	float: left;
	font-size: 10px;
	color: #c8c8c8;
	border-right: 1px solid #c8c8c8;
	padding: 0px 10px;
}
.bottom .bottom-nav-item:first-child{
	padding-left: 0px;
}
.bottom .bottom-nav .bottom-nav-item:last-child{
	border-right: none;
}
.bottom .bottom-nav .bottom-nav-item a{
	font-size: 10px;
	color: #c8c8c8;
}
.bottom .bottom-nav .bottom-nav-item a:hover{
	color: #4e7bd2;
}
.bottom .bottom-last .bottom-nav-item{
	border-right: none;
	padding: 0px 11px;
}
.bottom .bottom-last{
	margin-top: 12px;
}
.bottom .bottom-last .bottom-nav-item:first-child{
	padding-left: 0px;
}
.bottom .bottom-loge{
	float: right;
	margin-top: -18px;
}

