/*公共样式*/
.clearfix:after{
	display: block;
	content: "";
	clear: both;
	height: 0;
	visibility: hidden;
}
.clearfix{
	*zoom: 1;
}
a{
	text-decoration: none;
	color: #a3a4a5;
}
.caption{
	margin-left: 25px;
	width: 1218px;
}
.header{
	background: #fff;
	width: 100%;
	position: relative;
	z-index: 999;
}
.hd{
	margin-top: 34px;
	height: 62px;
	background: #fafafa;
	border: 1px solid #e1e1e1;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-left: 34px;
}
.hd p{
	height: 62px;
	line-height: 62px;
	font-size: 17px;
	color: #a6a6a6;
}

      /*顶部样式*/
.top{
	height: 45px;
	background: #3a3b3e;
	position: relative;
}
.top .logo{
	width: 45px;
	height: 45px;
	float: left;
	margin-left: 30px;
	opacity: 0.5;
}
.top .logo img{
	width: 45px;
	height: 45px;
}
.top .top-nav{
	height: 45px;
	float: left;
	margin-left: 190px;
}
.top .top-nav .top-nav-item{
	height: 45px;
	line-height: 45px;
	text-align: center;
	float: left;
	font-size: 12px;
	margin-left: 39px;
}
.top .top-nav .top-nav-item a{
	opacity: 0.5;
	text-decoration: none;
}
.top .top-nav .top-nav-item a:hover{
	opacity: 1;
}
.top .user{
	height: 45px;
	margin-right: 20px;
	float: right;
}
.top .user .fa-shopping-bag:hover ~ .user-box{
	display: block;
}
.top .user-box{
	position: absolute;
	top:45px;
	right: 20px;
	width: 360px;
	height: 206px;
	background: #fff;
	border: 1px solid #000;
	border-radius: 5px;
	padding-top: 90px;
	text-align: center;
	display: none;
	z-index: 1888;
}
.top .user .user-box i{
	display: block;
	font-size: 80px;
	color: #e6e6e6;
}
.top .user-box .user-box-disc{
	color: #333;
	font-size: 18px;
	margin-top: 30px;
}
.top .user-box .user-box-bt{
	color: #e6e6e6;
	font-size: 12px;
	margin-top: 10px;
}
.top .user .fa{
	display: inline-block;
	height: 45px;
	line-height: 45px;
	font-size: 16px;
	color: #a5a6a6;
	float: left;
	margin-left: 25px;
}
.header .header-nav{
	height: 74px;
	line-height: 74px;
	float: left;
}
.header .header-nav .header-nav-item{
	float: left;
	font-size: 15px;
	margin-left: 31px;
}
.header .header-nav .header-nav-item ul,
.header .header-nav .header-nav-item .ula{
	width: 100%;
	margin-left: -31px;
	position: absolute;
	top: 74px;
	width: 100%;
	height: 275px;
	background: #fff;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
	display: none;

}
.header .header-nav-item>ul li{
	float: left;
	margin-left: 32px;
	text-align: center;
	cursor: pointer;
}

.header .header-nav-item .phone-nav-item img{
	width: 70px;
	height: 85px;
	margin-bottom: -28px;
}
.header .header-nav-item .phone-nav-item .phone-nav-name{
	font-size: 13px;
	margin-bottom: -13px;
	color: #333;
}
.header .header-nav-item .phone-nav-item .phone-nav-price{
	font-size: 12px;
	color: #d84c49;
}
.header .header-nav-item .phone-nav-item .phone-nav-price span{
	color: #808080;
}
.header .header-nav-item dl{
	float: left;
	cursor: pointer;
	margin-left: 20px;
}
.header .header-nav-item dd{
	font-size: 12px;
	color: #818181;
	margin-bottom: -25px;
	margin-top: 10px;
}
.header .header-nav-item dt{
	margin-bottom: -35px;
}
.header .header-nav-item dl dt img{
	width: 36px;
	height: 33px;
	margin-left: 16px;
	vertical-align: middle;
}
.header .header-nav-item>li dt span{
	font-size: 14px;
	color: #333;
}
.header .header-nav .header-nav-item .ula{
	margin-left: -273px;
}
.header .header-nav-item:hover .ula{
	display: block;
}

.header .header-nav .header-nav-item .phone3-nav.ula{
	padding-left: 170px;
	margin-left: -365px;
}
.header .header-nav .header-nav-item .phone4-nav.ula{
	margin-left: -473px;
	padding-left: 473px;
}
.header .header-nav .header-nav-item .phone5-nav.ula{
	margin-left: -547px;
}
.header .header-nav .header-nav-item .phone-nav{
	padding-left: 620px;
}
.header .header-nav-item .phone2-nav{
	padding-left: 390px;
}

.header .header-nav .header-nav-item:first-child a,
.header .header-nav .header-nav-item:nth-child(3) a{
	color: #333;
	font-weight: bolder;
}
.header .header-nav .header-nav-item a{
	color: #515151;
}
.header .header-nav .header-nav-item a:hover{
	color: #1191d3;
}
.header .header-search{
	position: relative;
	width: 325px;
	float: right;
	margin-right: 30px;
}
.header .header-search .search-logo{
	float: right;
	margin-top: 18px;
	width: 40px;
	height: 36px;
	font-size: 30px;
	color: #ebebeb;
	line-height: 36px;
	text-align: center;
	border:1px solid #ebebeb;
	border-right: none;
	border-bottom-left-radius: 18px;
	border-top-left-radius: 18px;
	cursor: pointer;
}
.header .header-search .search-text{
	float: right;
	margin-top: 18px;
	width: 280px;
	height: 36px;
	border:1px solid #ebebeb;
	border-left: none;
	outline: none;
	border-bottom-right-radius: 18px;
	border-top-right-radius: 18px;

}
.header .header-search .search-hot{
	position: absolute;
	top: 27px;
	right: 30px;
	width: 122px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: #e4effe;
	border:1px solid #e4effe;
	border-radius: 10px;
}
.header .header-search .search-hot a{
	font-size: 11px;
	color: #3668c5;
}

.header .header-search .search-btn{
	position: absolute;
	bottom: -400px;
	right: 0px;
	width: 318px;
	height: 390px;
	background: #fff;
	border: 1px solid #e4effe;
	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
	display: none;
	z-index: 999; 
}
.header .header-search .search-btn .search-btn-item{
	height: 35px;
	line-height: 35px;
}
.header .header-search .search-btn .search-btn-item a{
	font-size: 15px;
}
.header .header-search .search-btn .search-btn-item a:hover{
	color: #3668c5;
}
.header .header-search .search-text:focus~.search-btn{
	display: block;
}
.header .header-item .phone4-nav{
	padding-left: 430px;
}
.header .header-item  .phone-nav-item{
	float: left;
	width: 140px;
	height: 180px;
	text-align: center;
	padding-top: 39px;
}
.main .img{
	height: 620px;
	width: 100%;
}
.main .img img{
	width: 100%;
	height: 100%;
}

.main{
	background: #ededed;
}
.main .service .bd .nav1-item{
	float: left;
	width: 203px;
	height: 270px;
	text-align: center;
	background-color: #fff;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	cursor: pointer;
	box-sizing: border-box;
	transition: all 0.3s;
}
.main .service .bd .nav1-item:hover{
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2) inset;
}
.main .service .bd .nav1-item img{
	width: 63px;
	height: 63px;
	margin-top: 68px;

}
.main .service .bd .nav1-item .img-dic{
	font-size: 16px;
	color: #333;
	margin-top: 26px;
}
.main .service .bd .nav1-item .img-way{
	font-size: 10px;
	color: #b7b7b7;
	margin-top:10px;
}
.main .service .bd .nav2-item{
	float: left;
	width: 608px;
	height: 202px;
	background: #fff;
	cursor: pointer;
	position: relative;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}

.main .service .bd .nav2-item img{
	width: 138px;
	height: 138px;
	position: absolute;
	left: 53px;
	top: 50%;
	margin-top: -80px;
	
}
.main .service .bd .nav2-item .wen{
	position: absolute;
	left: 209px;
	top: 47px;
	text-align: center;
}
.main .service .bd .nav2-item .img-disc{
	font-size: 18px;
	color: #d84f4c;
}
.main .service .bd .nav2-item .img-way{
	font-size: 12px;
	color: #cdcdcd;
	margin-top: 16px;
	margin-bottom: 30px;
}
.main .service .bd .nav2-item a{
	font-size: 13px;
	color: #90ace3;
	margin-top: 30px;
}
.main .pro .bd .bd-item{
	float: left;
	width: 608px;
	height: 120px;
	background: #fff;
	cursor: pointer;
	position: relative;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}
.main .pro .bd .bd-item img{
	position: absolute;
	left: 33px;
	top: 40px;
	width: 60px;
	height: 60px;
}
.main .pro .bd .bd-item .wen{
	position: absolute;
	left: 118px;
	top: 37px;
	text-align: left;
}
.main .pro .bd-item .wen .wen-first{
	font-size: 16px;
	color: #333;
}
.main .pro .bd-item .wen .wen-item{
	float: left;
	margin:18px 8px;
}
.main .pro .bd-item .wen .wen-item:after{
	display: inline-block;
	content: "";
	width: 2px;
	height: 2px;
	background-color: #b4b4b4;
	margin-left: 8px;
	vertical-align: 2px;
}
.main .pro .bd-item .wen .wen-item:first-child{
	margin-left: 0px;
}
.main .pro .bd-item  .wen-item a{
	font-size: 11px;
	color: #b4b4b4;
}
.main .pro .bd-item  .wen-item a:hover{
	color: skyblue;
}
.main .contact .contact-item{
	float: left;
	width: 20%;
	height: 270px;
	background: #fff;
	cursor:pointer;
	text-align: center;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	box-sizing: border-box;
}
.main .contact .contact-item img{
	width: 60px;
	height: 60px;
	margin-top: 75px;
}
.main .contact .contact-item .wen{
	margin-top: 27px;
	font-size: 16px;
	color: #333;
}
.main .contact .contact-item .time{
	font-size: 10px;
	margin-top: 12px;
	color: #9c9c9c;
}