





.top{
	/*height: 56px;*/
	background-color: #323335;
}
.top .cart{
	float: left;
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 68px;
	/*background: gray;*/
}
.top .cart img{
	width: 24px;
	height: 24px;
	margin-left: -333px;
}
.top .top-nav{
	float: left;
	/*background: pink;*/
	margin-left: 400px;
}
.top .top-nav .top-nav-item{
	float: left;
	height: 56px;
	line-height: 56px;
	margin-right: 48px;
}
.top .user-info{
	float: right;
	width: 20px;
	height: 56px;
	color: #a2a3a3;
	/*background: green;*/
}
.top .user-info1 .user-info1-box a,
.top .user-info .user-info-box a{
	display: inline-block;
	width: 100%;
	height: 56px;
	line-height: 56px;
	text-align: center;
}
.top .user-info1 .user-info1-box .icon-user-info
.top .user-info .user-info-box .icon-user-info{
	font-size: 15px;
}
.top .user-info1{
	float: right;
	width: 20px;
	height: 56px;
	color: #a2a3a3;
	/*background: purple;*/
}
.header{
	height: 94px;
	/*background: blue;*/
}
.header .header-nav{
	float: left;
	margin-left: 184px;
}
.header .header-nav .header-nav-item{
	float: left;
	height: 94px;
    line-height: 94px;
	margin-right: 20px;
}
.header .header-nav .header-nav-item a{
	font-size: 16px;
	color: #333;

}
.header .header-nav .header-nav-item a:hover{
	color: #c9d8fb;
}
.header .search{
	position: relative;
	float: right;
	width: 416px;
	height: 46px;
	border-color: #ccc;
	border: 1px solid #000;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-top: 24px;
	margin-right: 30px;
	/*z-index: 555;*/
	/*background: yellow;*/
}
.header .search .search-text{
	margin-right: 8px;
	float: right;
	width: 370px;
	height: 100%;
	outline: none;
	border-left: none;
	border-top: none;
	border-right: none;
	padding-left: 5px;
	box-sizing: border-box;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.header .search .search-btn{
	position: absolute;
	float: left;
	width: 46px;
	height: 46px;
	color: #ccc;
	line-height: 50px;
	font-size: 24px;
	/*margin-top: 8px;*/
	margin-left: 12px;
	box-sizing: border-box;
}
.header .search .search-btn:hover{
	cursor: pointer;
}
.header .search .search-hot-words{
	float: right;
	right: 10px;
	line-height: 46px;
	position: absolute;
}
.header .search .search-hot-words .search-hot-words-item{
	display: inline-block;
	line-height: 22px;
	padding: 0 6px;
	color: #3965cc;
	background: #bed2fb;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
/*.header .search .search-hot-words .search-hot-words-item a{
	display: inline-block;
	height: 100%;
	height: 30px;	
	box-sizing: border-box;
	padding: 0 10px;	
}
*/.header .search .search-keyword-list{
	display: none;
	position: absolute;
	width: 416px;
	top: 46px;
	left: 0;	
	border-top: none;
	border: 1px solid #000;
	box-sizing: border-box;
	background: #fff;
}
.header .search .search-text:focus ~ .search-keyword-list{
		display: block;
}
.header .search .search-text:focus ~ .search-hot-words{
	display: none;
}
.header .search .search-keyword-list .keyword-item{
	height: 30px;
	line-height: 30px;		

}
.header .search .search-keyword-list .keyword-item a{
	display: inline-block;
	height: 100%;
	height: 30px;	
	box-sizing: border-box;
	padding: 0 10px;	
}
.header .search .search-keyword-list .keyword-item .keyword:hover{
	color: #3965cc;
}
.header .search .search-keyword-list .keyword-item .keyword {
		color: #333
}

.main{
	height: 5746px;
	width: 1874px;
	background: #ccc;
}
.main .container{
	height: 5424px;
	/*background: red;*/
	/*padding-top: 76px;*/
}
/*.main .main-nav{
	float: left;
	background: #000;
}*/

.main .main-nav li{
	display: inline-block;
	float: left;
	width: 50px;
	height: 76px;
	line-height: 76px;
	text-align: center;
	font-size: 14px;
	color: #ccc;
	/*margin-bottom: 30px;*/
	/*background: yellow;*/
	/*padding-left: 50px;*/
	margin-left: 200px;
}
.main .product-item{
	float: left;
	width: 304px;
	height: 452px;
	/*background: red;*/
	background: #fff;
	text-align: center;
	padding: 90px 64px;
	/*margin-top: 76px;*/
	box-sizing: border-box;
}
.main .product-item:hover{
	box-shadow: 0 5px 15px rgba(0,0,0,0.2);
	transition: all 0.5s;
}
.main .product-img{
	width: 160px;
	height: 150px;
	margin-bottom: 24px;
}
.main .product-name{
	width: 100%;
	margin-bottom: 6px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	font-size: 14px;
	color: #202020;
}
.main .product-desc{
	width: 100%;
	margin-bottom: 20px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	font-size: 12px;
	color: #b3adad;
}
.main .product-price strong,
.main .product-price span{
	color: #ff6700;
}
.main .service{
	float: left;
	height: 192px;
	width: 1524px;
	background: #fff;
	margin-top: 14px;

}
.main .service{
	/*margin:40px 0;*/
	/*padding-top: 20px;*/
}
.main .service .service-item{
	float: left;
	padding: 20px 0;
	width: 25%;
	/*width: 150px;*/
	height: 24px;
	color: #ccc;
	margin-top: 32px;
	/*margin-right: 214px;*/
	/*margin-left: 40px;*/
	cursor: pointer;
	text-align: center;
	/*line-height: 192px;*/
}
.main .service .service-item h3{
	font-size: 16px;
	color: #656565;
}
.main .service .service-item i{
	font-size: 30px;
}
.end{
	height: 440px;
	background: #fafafa;
	/*margin-top: 200px;*/
}
.end .continer{
	border-bottom: 1px solid red;
}
.end .link-item{
	float: left;
	width: 160px;
	height: 112px;
}
.end .link-item dt{
	margin-bottom: 20px;
	font-size: 14px;
	color: #424242;
}
.end .link-item dd a{
	color: #757575;
}
.end .link-item dd{
	margin-bottom: 10px;
}
.end .link-item dd a:hover{
	color: skyblue;
}
.end .link-contact{
	float: right;
	width: 252px;
	height: 112px;
	text-align: center;
}
.end .link-contact .phone{
	font-size: 18px;
	color: skyblue;
	font-weight: bold;
}
.end .link-contact .work-time,
.end .link-contact .desc{
	font-size: 12px;
	color: #616161;
}
.end .link-contact .desc{
	margin-bottom: 18px;
}
.end .link-contact a{
	display: inline-block;
	width: 166px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	border: 1px solid #ccc;
	color: skyblue;
	font-size: 14px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

}
.end .link-contact a:hover{
	box-shadow: 0 5px 15px rgba(0,0,0,0.2);
	transition: all 0.5s;
}
.end .link-contact a i{
	margin-right: 2px;
}
.end .links{
	margin-bottom: 40px;
	padding: 74px 0;
	border-bottom: 1px solid #ccc;
}
.end .info{
	margin-bottom: 14px;
	float: left; 

}
.end .info span{
	font-size: 14px;
	color: #bdbdbd;
}
.end .info .nav-link{
	margin-bottom: 14px;
}
.end .info .icp span:hover{
	cursor: pointer;
}
.end .info a:hover{
	color: skyblue;
}
.end .sites{
	float: right; 
}