.clearfix:after{
	display: block;
	content: "";
	clear: both;
	height: 0;
	visibility: hidden;
}
.clearfix{
	*zoom: 1;
}
a{
	text-decoration: none;
	color: #a3a4a5;
}
.caption{
	width: 1220px;
	margin-left: 25px;
}